body {
    font-family: Arial, sans-serif;
}
.productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.producto {
    width: calc(15% - 20px);
    height: 100%;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 2vw;
}
.producto img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.producto .nombre {
    font-weight: bold;
    margin-top: 5px;
}
.producto .precio {
    margin-top: 5px;
}
.producto .sin-imagen {
    text-align: center;
    color: #fff;
    background-color: rgb(82, 136, 197);
}
@media screen and (max-width: 1000px) {
    .productos-container {
        justify-content: space-between;
    }
    .producto {
        width: calc(45% - 10px);
    }
    
}
@media screen and (max-width: 999px) and (min-width: 700px) {
    .productos-container {
        justify-content: space-between;
    }
    .producto {
        width: calc(45% - 5px);
    }
}
@media screen and (max-width: 360px) {
    .productos-container {
        justify-content: center;

    }

    .producto {
        width: calc(100% - 50px);
    }
}
 /*carrito*/
 .carrito {
    width: calc(50% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 2vw;
 }
 .carrito-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

.carrito-container h2 {
    margin-bottom: 10px;
}

.carrito-container ul {
    list-style: none;
    padding: 0;
}